/************************************************************************************
  Exemplo retirado do artigo: http://webdesignerwall.com/tutorials/responsive-column-layouts 
*************************************************************************************/



/************************************************************************************
GRID COLUMNS
*************************************************************************************/
.col {
	float: left;
	margin-left: 3.2%;
	margin-bottom: 30px;
}
.fullwidth .col {
	float: none;
	margin-left: 0;
        clear: both;
}
/* grid4 col */
.grid4 .col {
	width: 22.6%;
}
/* grid3 col */
.grid3 .col {
	width: 31.2%;
}
/* grid2 col */
.grid2 .col {
	width: 48.4%;
}
/* clear col */
.grid4 .col:nth-of-type(4n+1),
.grid3 .col:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}

/************************************************************************************
GRID CONTAINER
*************************************************************************************/

.grid-container {
    width: 978px;
    max-width: 96%;
    margin: 0 auto;
}

