
.align-labels-top div > label { display: block; }

.fill-inputs-horizontal div > input, div > textarea, div > select { width: 100%; }

.align-actions-left div > button { float: left; }

.error-label {
    font-weight: bold;
    color: #b50007;
    
    padding-top: 6px;
    font-size: 70%;

    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-field {
    /*background-color: #f9e5e6 !important;*/
    border-color: #b50007  !important;
    border: 1px solid;
}