

.success, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
}


.error-label {
    font-weight: bold;
    color: #b50007;
    
    padding-top: 6px;
    font-size: 70%;

    /*display: block;*/
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-field {
    /*background-color: #f9e5e6 !important;*/
    border-color: #b50007  !important;
    border: 1px solid;
}